
* {
	box-sizing:border-box; 
}

body{
    width:100%;
    margin: 0px;
}
h1 {
    border-width: 3px;
    text-align: center;
    color:#6e6e6e;
    font-size: 1.75em;
}

section {
   padding: 5px; 
}

section div{
    border: 1px solid #6e6e6e;
    background-color: #eee8d7;
    position:relative;
}

section div div {
    border: 1px solid #6e6e6e;
    border-radius: 0 0 0 20px;

    background-color: #c7e2b7;

    height: 2.25em;
    width: 120px;

    padding: 5px;

    float: right;
}

.chicken div div {
    background-color: hwb(208 14% 34%);
}

.beef div div {
    background-color: hsl(325, 56%, 52%);
}

.sushi div div {
    background-color: hsl(131, 64%, 43%);
}

h2 {
    color:#eee8d7;
    font-size: 1.25em;

    padding:0px;
    margin:0px;
    
    text-align: center;
}

p{   
    padding: 10px;
    margin-top:30px;
}

/* --------MEDIA-------- */
/* MOBILE */
@media (max-width: 767px) {  
	.mobile {
		float:left;
		width:100%;
	}
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {  
	.tablet {
		float:left;
		width:50%;
	}

    .tablet:nth-child(4) {
		width:100%;
	}
}

/* DESKTOP */
@media (min-width: 992px) {  
	.desktop {
		float:left;
		width:33.33%;
	}
}